JURNAL MODUL 1 PRAKTIKUM STRUKTUR DATA

In [ ]:
#JURNAL MODUL 1 PRAKTIKUM STRUKTUR DATA 
print("Jelli Kurnilia")
print("121450083/RC")

Jelli Kurnilia
121450083/RC

NO 1

In [ ]:
#NO 1
def isMultiple (n,m):
    if n%m==0:
        return True
    else:
        return False
isMultiple = lambda n,m : n%m == 0
isMultiple (7,2)

False

NO 2

In [ ]:
#NO 2
def sumodd (n):
    sum=0
    k=1
    while k < n:
        sum = sum + k**2
        k += 2 #k = k + 2
    return sum

sumodd(7)

35

NO 3

In [ ]:
#NO 3
def euclidean (p,q):
    num = 0
    for i in range(len(p)):
        num += (p[i]-q[i])**2
    return num **0.5

euclidean([1,2],[4,5])

4.242640687119285

NO 4

In [ ]:
#NO 4
def MinMax (a) :
    for i in range (len(a)-1):
        for j in range (i+1, len(a)):
            if a[i] >a [j]:
                temp = a[i]
                a[i] = a[j]
                a[j] = temp
    print ("Bilangan Terkecil :", a[0])
    print ("Bilangan Terbesar :", a[-1])

angka = [11,25,98,54,78,2]

MinMax (angka)

Bilangan Terkecil : 2
Bilangan Terbesar : 98

NO 5

In [ ]:
#NO 5
def reverseArray (a):
    if len(a)%2 == 0:
      mid = (len(a))//2
      for i in range (0,mid):
          temp = a[i]
          a[i] = a[-i-1]
          a[-i-1] = temp

    else :
      mid = len(a)//2
      for i in range (mid):
          temp = a[i]
          a[i] = a[-i-1]
          a[-i-1] = temp

    return a
print(reverseArray([1,2,3,4,5,6,7,8,9,10]))

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

NO 6

In [ ]:
#NO 6
class newbie :
  def __init__(self):
    self.halo = 'Hallo world'
  def display(self):
      return self.halo

obj = newbie()
obj.display()

'Hallo world'

NO 7

In [ ]:
#NO 7
class aritmatika :
  def __init__(self, a, b):
      self.a = a
      self.b = b

  def tambah(self):
      self.answer = self.a + self.b

  def kurang(self):
      self.answer = self.a - self.b

  def kali(self):
      self.answer = self.a * self.b

  def bagi(self):
      self.answer = self.a / self.b
    
  def display(self):
      print("angka pertama : "+ str(self.a))
      print("angka kedua : "+ str(self.b))
      print("hasil : "+ str(self.answer))

obj = aritmatika(2,5)

obj.tambah()
obj.display()

angka pertama : 2
angka kedua : 5
hasil : 7

NO 8

In [ ]:
#NO 8
class MenuKantin :
  def __init__(self,nama,harga) :
      self.nama = nama
      self.harga = harga
      return

menu1 = MenuKantin('Batagor', 5000)
menu2 = MenuKantin('Ayam Geprek', 10000)
menu3 = MenuKantin('Seblak Jebred', 15000)
menu4 = MenuKantin('Roti Bakar', 5000)

pilihan_menu = [menu1, menu2, menu3, menu4]

print('Daftar Menu Kantin : ')
for mn in pilihan_menu:
    t = '{} : Rp. {}'.format(mn.nama, mn.harga)
    print(t)

Daftar Menu Kantin :
Batagor : Rp. 5000
Ayam Geprek : Rp. 10000
Seblak Jebred : Rp. 15000
Roti Bakar : Rp. 5000

NO 9

In [ ]:
#NO 9
#jawaban
class NilaiMataKuliah:
  def __init__(self,nama,mata_kuliah,nilai_hadir,nilai_project,nilai_uts,nilai_uas):
      self.nama = nama
      self.mata_kuliah = mata_kuliah
      self.nilai_hadir = nilai_hadir
      self.nilai_project = nilai_project
      self.nilai_uts = nilai_uts
      self.nilai_uas = nilai_uas

  def hitung_nilai_akhir(self):
      bobot_hadir = 0.1
      bobot_project = 0.3
      bobot_uts = 0.3
      bobot_uas = 0.3
      nilai_akhir = bobot_hadir * self.nilai_hadir + bobot_project * self.nilai_project + bobot_uts * self.nilai_uts + bobot_uas * self.nilai_uas
      return nilai_akhir


  def grade_nilai(self):
      nilai_akhir = self.hitung_nilai_akhir()
      if nilai_akhir >= 85:
         grade = 'A'
      elif nilai_akhir >= 70:
         grade = 'B'
      elif nilai_akhir >= 50:
         grade = 'C'
      elif nilai_akhir >= 40:
         grade = 'D'
      else:
        grade = 'E'
      return grade

obj = NilaiMataKuliah('Jelli Kurnilia','Struktur Data',90,80,70,60)
nilai_akhir = obj.hitung_nilai_akhir()
grade = obj.grade_nilai()

print('{} pada mata kuliah {} mendapatkan nilai akhir = {}, grade = {}'.format(obj.nama,obj.mata_kuliah,nilai_akhir,grade))

Jelli Kurnilia pada mata kuliah Struktur Data mendapatkan nilai akhir = 72.0, grade = B